.env
.env.local
/src/llm/__pycache__
/chroma_db
/src/__pycache__
/src/extractors/__pycache__
/src/storage/__pycache__
test.py
/__pycache__
/Lib
/Scripts
/share
/uploads
pyvenv.cfg
/static/images
/src/rag/__pycache__
/src/llm/__pycache__
